#---  Visual Studio  ---#
.vs
*.vcxproj
*.vcxproj.*
*.sln
x64
x86
Release
Debug

#---  Google Tests  ---#
packages
packages.*

#---  External Documentation  ---#
docs

#---  This project specifics  ---#
archive
tests
